/* $Id: colorbox_stockholmsyndrome.css,v 1.1.2.1 2010/10/28 18:52:41 frjo Exp $  */

/*
    ColorBox Core Style
    The following rules are the styles that are consistant between themes.
    Avoid changing this area to maintain compatability with future versions of ColorBox.
*/
#colorbox, #cboxOverlay, #cboxWrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  overflow: hidden;
}
#colorbox {
  background: url(images/bg_tab.png) -49px -50px repeat-x #000;
}
#colorbox, #colorbox div {
  overflow: visible; /* Required by the close button. */
}
#cboxOverlay {
  position: fixed;
  width: 100%;
  height: 100%;
}
#cboxMiddleLeft, #cboxBottomLeft {
  clear: left;
}
#cboxContent {
  position: relative;
  overflow: hidden;
}
#cboxLoadedContent {
  overflow: auto;
}
#cboxLoadedContent iframe {
  display: block;
  border: 0;
}
#cboxTitle {
  margin: 0;
}
#cboxLoadingOverlay, #cboxLoadingGraphic {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow {
  cursor: pointer;
}

/*
    ColorBox example user style
    The following rules are ordered and tabbed in a way that represents the
    order/nesting of the generated HTML, so that the structure easier to understand.
*/
#cboxOverlay {
  background: #000;
  opacity: 0.4 !important;
}

#colorbox {
  background: #fff url(images/bg_tab.png) center bottom repeat-x;
  box-shadow: 3px 3px 16px #333;
  -moz-box-shadow: 3px 3px 16px #333;
  -webkit-box-shadow: 3px 3px 16px #333;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  -moz-border-radius-bottomleft: 9px;
  -moz-border-radius-bottomright: 9px;
  -webkit-border-bottom-left-radius: 9px;
  -webkit-border-bottom-right-radius: 9px;
}
  #cboxWrapper {
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
    -moz-border-radius-bottomleft: 9px;
    -moz-border-radius-bottomright: 9px;
    -webkit-border-bottom-left-radius: 9px;
    -webkit-border-bottom-right-radius: 9px;
  }
    #cboxTopLeft {
      width: 0px;
      height: 0px;
    }
    #cboxTopCenter {
      height: 0px;
    }
    #cboxTopRight {
      width: 0px;
      height: 0px;
    }
    #cboxBottomLeft {
      width: 15px;
      height: 10px;
    }
    #cboxBottomCenter {
      height: 10px;
    }
    #cboxBottomRight {
      width: 15px;
      height: 10px;
    }
    #cboxMiddleLeft {
      width: 0px;
    }
    #cboxMiddleRight {
      width: 0px;
    }
    #cboxContent {
      background: #fff;
      font: 11px Arial, sans-serif;
        margin-bottom: 28px;
    }
      #cboxLoadedContent {
      }
      #cboxTitle {
        left: 0;
        height: 38px;
        color: #313131;
        padding: 0 140px 0 15px;
        display: table-cell;
        vertical-align: middle;
      }
      #cboxCurrent {
        position: absolute;
        bottom: -26px;
        right: 80px;
        color: #313131;
        border-left:1px solid #313131;
        padding:0 0 0 15px;
      }
      /* Slideshow not implemented. */
      .cboxSlideshow_on #cboxSlideshow {
        display: none;
      }
      .cboxSlideshow_on #cboxSlideshow.hover {
      }
      .cboxSlideshow_off #cboxSlideshow {
        display: none;
      }
      .cboxSlideshow_off #cboxSlideshow.hover {
      }
      #cboxPrevious {
        position: absolute;
        bottom: -26px;
        right: 45px;
        background: url(images/controls.png) 0 -48px no-repeat;
        width: 21px;
        height: 15px;
        text-indent: -9999px;
      }
      #cboxPrevious.hover {
        background-position: 0 -111px;
      }
      #cboxNext {
        position: absolute;
        bottom: -26px;
        right: 15px;
        background: url(images/controls.png) 0 -29px no-repeat;
        width: 21px;
        height: 15px;
        text-indent: -9999px;
      }
      #cboxNext.hover {
        background-position: 0 -92px;
      }
      #cboxLoadingOverlay {
        background: #E6E6E6;
      }
      #cboxLoadingGraphic {
        background: url(images/loading_animation.gif) center center no-repeat;
      }
      #cboxClose {
        position: absolute;
        bottom: 0;
        right: -10px;
        top: -10px;
        background: url(images/controls.png) 0px 0px no-repeat;
        width: 25px;
        height: 25px;
        text-indent: -9999px;
        opacity: 0;
      }
      #cboxClose.hover {
        background-position: 0 -63px;
      }

/* The following are fixes for IE. */
.cboxIE #cboxTitle {
  background: #fff;
}
