/* $Id: colorbox_default_style.css,v 1.1 2010/04/16 07:10:32 frjo Exp $  */

/*
    ColorBox Core Style
    The following rules are the styles that are consistant between themes.
    Avoid changing this area to maintain compatability with future versions of ColorBox.
*/
#colorbox, #cboxOverlay, #cboxWrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  overflow: hidden;
}
#cboxOverlay {
  position: fixed;
  width: 100%;
  height: 100%;
}
#cboxMiddleLeft, #cboxBottomLeft {
  clear: left;
}
#cboxContent {
  position: relative;
  overflow: hidden;
}
#cboxLoadedContent {
  overflow: auto;
}
#cboxLoadedContent iframe {
  display: block;
  width: 100%;
  height: 100%;
  border: 0;
}
#cboxTitle {
  margin: 0;
}
#cboxLoadingOverlay, #cboxLoadingGraphic {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow {
  cursor: pointer;
}

/*
    ColorBox example user style
    The following rules are ordered and tabbed in a way that represents the
    order/nesting of the generated HTML, so that the structure easier to understand.
*/
#cboxOverlay {
  background: #000;
}

#colorBox {}
  #cboxWrapper {
    background: #fff;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
  }
    #cboxTopLeft {
      width: 15px;
      height: 15px;
    }
    #cboxTopCenter {
      height: 15px;
    }
    #cboxTopRight {
      width: 15px;
      height: 15px;
    }
    #cboxBottomLeft {
      width: 15px;
      height: 10px;
    }
    #cboxBottomCenter {
      height: 10px;
    }
    #cboxBottomRight {
      width: 15px;
      height: 10px;
    }
    #cboxMiddleLeft {
      width: 15px;
    }
    #cboxMiddleRight {
      width: 15px;
    }
    #cboxContent {
      background: #fff;
      font: 12px "Lucida Grande", Verdana, Arial, sans-serif;
    }
      #cboxLoadedContent {
        margin-bottom: 28px;
      }
      #cboxTitle {
        position: absolute;
        background: rgba(255, 255, 255, 0.7);
        bottom: 28px;
        left: 0;
        color: #535353;
        width: 100%;
        padding: 4px;
      }
      #cboxCurrent {
        position: absolute;
        bottom: 4px;
        left: 60px;
        color: #949494;
      }
      .cboxSlideshow_on #cboxSlideshow {
        position: absolute;
        bottom: 0px;
        right: 30px;
        background: url(images/controls.png) -75px -50px no-repeat;
        width: 25px;
        height: 25px;
        text-indent: -9999px;
      }
      .cboxSlideshow_on #cboxSlideshow.hover {
        background-position: -101px -50px;
      }
      .cboxSlideshow_off #cboxSlideshow {
        position: absolute;
        bottom: 0px;
        right: 30px;
        background: url(images/controls.png) -49px -50px no-repeat;
        width: 25px;
        height: 25px;
        text-indent: -9999px;
      }
      .cboxSlideshow_off #cboxSlideshow.hover {
        background-position: -25px -50px;
      }
      #cboxPrevious {
        position: absolute;
        bottom: 0;
        left: 0;
        background: url(images/controls.png) -75px 0px no-repeat;
        width: 25px;
        height: 25px;
        text-indent: -9999px;
      }
      #cboxPrevious.hover {
        background-position: -75px -25px;
      }
      #cboxNext {
        position: absolute;
        bottom: 0;
        left: 27px;
        background: url(images/controls.png) -50px 0px no-repeat;
        width: 25px;
        height: 25px;
        text-indent: -9999px;
      }
      #cboxNext.hover {
        background-position: -50px -25px;
      }
      #cboxLoadingOverlay {
        background: #fff;
      }
      #cboxLoadingGraphic {
        background: url(images/loading_animation.gif) center center no-repeat;
      }
      #cboxClose {
        position: absolute;
        bottom: 0;
        right: 0;
        background: url(images/controls.png) -25px 0px no-repeat;
        width: 25px;
        height: 25px;
        text-indent: -9999px;
      }
      #cboxClose.hover {
        background-position: -25px -25px;
      }

/* The following are fixes for IE. */
.cboxIE #cboxTitle {
  background: #fff;
}
